@font-face {
  font-family: Gotham;
  src: url(/font/Gotham-Book.otf);
}
@font-face {
  font-family: OpenSans;
  src: url(/font/static/OpenSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* commom elements */
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
p {
  font-size: 20px;
  font-weight: 400;
}
/* coomom class */
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -15px;
}
.col {
  padding: 0 15px;
}
.col-50 {
  width: 50%;
}
.col-33 {
  width: 33%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
.topbar {
  background-image: url(../images/topbar.png);
  padding: 10px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar_brand {
  max-width: 100px;
  width: 100%;
}
.topbar_brand i {
  font-size: 15px;
  color: white;
}

.topList {
  display: flex;
  justify-content: flex-end;
}
.topList a {
  color: white;
  font-size: 14px;
  font-family: OpenSans, "Regular";
}

.topList li {
  margin-left: 20px;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: white;
}
.search-box {
  position: relative;
}

.search-box input {
  padding: 6px 30px 6px 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  outline: none;
}

.search-box input::placeholder {
  color: white;
  font-size: 14px;
}

.search-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}
.togglar{
  font-size: 16px;
  color: white;
  z-index: 999;
  display: none;
}
/* navbar */
.navbar {
  background-color: white;
  padding: 5px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_brand {
  max-width: 100px;
  width: 100%;
}
.navbar_brand img {
  width: 162.27px;
  height: 70px;
}
.navList {
  display: flex;
  justify-content: flex-end;
}
.navList a {
  color: #424242;
  font-size: 14px;
  font-family: OpenSans, "Regular";
}

.navList li {
  margin-left: 20px;
  position: relative;
}
.navList li a:hover{
  color: #008DA9;
  text-decoration: underline;
}
.togglar2{
  font-size: 16px;
  color: black;
  z-index: 999;
  display: none;
}
/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-width: 180px;
  display: none;
  flex-direction: column;
  z-index: 100;
}

.dropdown-menu li {
  border-bottom: 1px solid #eee;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  color: #333;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f4f4f4;
  color: #4b2ea3;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
  display: flex;
}
/* banner */
.banner {
  height: 553px;
  background-image: url(../images/banner3.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}
.banner .container {
  height: 100%;
  display: flex;
  align-items: center;
}


.banner-content h1 {
  font-size: 76px;
  color: white;
  font-family: Gotham, "Book";
  position: relative;
  padding-left: 20px;
  font-weight: 400;
}
.line {
  width: 1px;
  height: 109px;
  position: absolute;
}
/* banner end */
.nurse {
  background-color: #f9f9f9;
}
.light {
  width: 17.6px;
  height: 50px;
  margin-left: 550px;
  margin-bottom: 20px;
}
.line5 {
  width: 63px;
  position: absolute;
  margin-left: 230px;
}
.line6 {
  width: 63px;
  position: relative;
  left: 500px;
  bottom: 40px;
  margin-left: 320px;
}
.nurse-content h2 {
  position: relative;
  bottom: 15px;
  color: #008da9;
  font-size: 36px;
  font-family: Gotham, "Book";
  text-align: center;
}
.nurse-content p {
  color: #787a82;
  font-size: 16px;
  font-family: OpenSans, "Regular";
  text-align: center;
  padding-bottom: 20px;
}
.staff2 p {
  font-size: 18px;
  color: white;
  font-family: Gotham, "Book";
  position: absolute;
}
.Staff {
  position: relative;
  top: 40px;
}
/* About the ACEN */
.acen {
  width: 17.6px;
  height: 50px;
}
.about h2 {
  font-size: 36px;
  color: #008da9;
  font-family: Gotham, "Book";
  padding-bottom: 20px;
}
.about p {
  font-size: 16px;
  color: #787a82;
  font-family: OpenSans, "Regular";
  padding-bottom: 40px;
}
.about span {
  font-size: 16px;
  color: #787a82;
  font-family: OpenSans, "Regular";
  padding-bottom: 20px;
}
/* next */
.mission {
  background-color: #f2f2f2;
}
.mission-content {
  display: flex;
  justify-content: space-between;
}
.mission-content li {
  color: #131313;
  font-size: 16px;
  font-family: Gotham, "Book";
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.color {
  color: #008da9;
}
.line2 {
  width: 63px;
  height: 1px;
  margin-left: 20px;
}
.mission h3 {
  font-size: 20px;
  font-weight: 100;
  color: #131313;
  font-family: Gotham, "Book";
  padding-top: 20px;
  padding-left: 20px;
}
.mission p {
  font-size: 16px;
  font-family: OpenSans, "Regular";
  color: #787a82;
  padding-left: 20px;
  padding-right: 20px;
}
.mission li {
  font-size: 16px;
  color: #787a82;
  font-family: OpenSans, "Regular";
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
.mission-content2 li {
  list-style: disc;
  margin-left: 60px;
  padding-top: 20px;
  padding-left: 20px;
}
/* footer */
.footer {
  background-color: #1d2736;
  padding-top: 100px;
}
.footerimg {
  width: 162.27px;
  height: 70px;
}
.footer-content p {
  font-size: 16px;
  font-family: OpenSans, "Regular";
  color: white;
  padding-top: 20px;
}
.footer-content h4 {
  font-size: 16px;
  font-family: Gotham, "Book";
  color: #68bace;
  font-weight: 100;
}
.footer-content li {
  font-size: 16px;
  font-family: OpenSans, "Regular";
  color: white;
  padding-bottom: 10px;
}
.footer-content input {
  font-family: OpenSans, "Regular";
  color: white;
  padding-bottom: 10px;
  background-color: transparent;
  border: 1px solid white;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 332px;
  height: 64px;
}
.footer-content input::placeholder {
  font-size: 15px;
  font-family: OpenSans, "Regular";
  color: white;
  padding-left: 30px;
}
.button4 {
  background-color: #008da9;
  color: white;
  width: 332px;
  height: 64px;
  border-radius: 4px;
  font-size: 15px;
  font-family: Gotham, "Book";
  border: none;
}
.last {
  font-size: 16px;
  color: white;
  font-family: OpenSans, "Regular";
  position: absolute;
}
.footer-brand {
  position: relative;
  left: 93%;
  color: white;
  padding-bottom: 10px;
}
.line30 {
  width: 30px;
  margin-bottom: 20px;
}
/* media screen */
@media screen and (max-width: 991px){
  /* .col-md-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .col-md-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-33 {
    flex: 0 0 33%;
    max-width: 33%;
  } */
  /* topbar */
  .topList {
    display: flex;
    justify-content: flex-end;
  }
  .topList li {
    flex-direction: column;
    padding-bottom: 20px;
    display: none;
  }
  .togglar {
    display: block;
  }
  /* navbar */
  .navList {
    display: flex;
    justify-content: flex-end;
  }
  .navList li {
    flex-direction: column;
    padding-bottom: 20px;
    display: none;
  }
  .togglar2{
    display: block;
  }
  .banner {
  max-width: 100%;
  height: 500px;

}
 .nurse-content h2 {
    font-size: 26px;
  }
  .light {
    margin-left: 420px;
  }
  .line5 {
    margin-left: 180px;
  }
  .line6 {
    margin-left: 130px;
  }
  .line7 {
    margin-left: 250px;
  }
  .line8 {
    margin-left: 60px;
  }
  .button4{
    width: 100%;
  }
  .footer-content input{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* topbar */
   .col-md-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .topList {
    display: flex;
    justify-content: flex-end;
  }
  .topList li {
    flex-direction: column;
    padding-bottom: 20px;
    display: none;
  }
  .togglar {
    display: block;
  }
  /* navbar */
  .navList {
    display: flex;
    justify-content: flex-end;
  }
  .navList li {
    flex-direction: column;
    padding-bottom: 20px;
    display: none;
  }
  .togglar2{
    display: block;
  }
  /* banner */
  .banner-content h1{
    font-size: 30px;
  }
  .banner{
    max-width: 100%;
    height: 100%;
  }
  .light {
    margin-left: 90px;
  }
  .nurse {
    max-width: 100%;
  }
  .light {
    margin-left: 370px;
  }
  .line5 {
    margin-left: 80px;
  }
  .line6 {
    margin-left: 30px;
  }
}
/* 575 */
@media screen and (max-width: 575px) {
  /* topbar */
  .col-sm-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .topList {
    display: flex;
    justify-content: flex-end;
  }
  .topList li {
    flex-direction: column;
    padding-bottom: 20px;
    display: none;
  }
  .togglar {
    display: block;
  }
  /* navbar */
  .navList {
    display: flex;
    justify-content: flex-end;
  }
  .navList li {
    flex-direction: column;
    padding-bottom: 20px;
    display: none;
  }
  .togglar2{
    display: block;
  }
   /* banner */
  .banner-content h1{
    font-size: 25px;
  }
  .banner-content h2{
    font-size: 18px;
  }
  .banner-content p{
    font-size: 14px;
  }
  .banner{
    max-width: 100%;
    height: 100%;
  }
   .light {
    margin-left: 250px;
  }
  .line5 {
    width: 43px;
    margin-left: 10px;
  }
  .line6 {
    width: 43px;
    left: 420px;
  }
  .mission li{
    font-size: 10px;
  }
}
